<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Blog</title>
    <script src="../../../public/app.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      {{{body}}}
      ${algo}$
      <home-view></home-view>
    </div>
  </body>
</html>